flows.json
[{"id":"241fc22a.65892e","type":"tab","label":"Flow Test","disabled":false,"info":""},{"id":"1c4be9f7.529d16","type":"debug","z":"241fc22a.65892e","name":"Log","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":690,"y":160,"wires":[]},{"id":"7fed968f.f35558","type":"azureiothub","z":"241fc22a.65892e","name":"Azure IoT Hub","protocol":"mqtt","x":380,"y":160,"wires":[["1c4be9f7.529d16"]]},{"id":"152f04ed.fd65ab","type":"inject","z":"241fc22a.65892e","name":"Send Payload","topic":"","payload":"{\"deviceId\":\"PlcTestDevice\",\"key\":\"sUPsnp8k/n/i/mQJHAOJz8K9wTZlngXeDdVKtkNp10Y=\",\"protocol\":\"mqtt\",\"customProperties\":\"{level: critical}\",\"data\":\"{device: 33, tem: 25, wind: 20}\"}","payloadType":"json","repeat":"","crontab":"","once":true,"onceDelay":"","x":180,"y":160,"wires":[["7fed968f.f35558"]]}]